.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header > img {
    height: 3.75rem;
}

.header > header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3.25rem 0;
}

.header > header button {
    background: transparent;
    border: none;
}

.header > header img:hover {
    scale: 1.1;
}

.header > header img {
    height: 2rem;
    transition: scale 0.5s;
}

.header > header span {
    font-size: 1.12rem;
    color: #9b9b9b;
}

.header > header span strong {
    font-size: 1.37rem;
    color: #e8891c;
}
